@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --fontepoppins: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden;
}

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: var(--fontepoppins);
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

#title {
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
}

.container-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.container-list > li {
    list-style-type: none;
}

.container-list a {
    color: white;
    text-decoration: none;
}

.container-list a:hover {
    background-color: rgba(255, 255, 255, 0.438);
    padding: 10px;
    transition: 0.4s;
    border-radius: 5px;
}

h1 {
    font-weight: 500;
    padding-bottom: 5px;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2.8rem;
    line-height: 3.2rem;
    word-break: break-word;
}

.title-purple {
    color: #9B06CE;
}

p {
    line-height: 1.6rem;
    max-width: 500px;
    color: rgba(255, 255, 255, 0.767);
}

img {
    width: 100%;
    max-width: 590px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

form [type="submit"] {
   height: 50px;
   background-color: #9B06CE;
   color: white;
   font-weight: bold;
   margin: 0 auto;
   margin-top: 1.6rem;
   border: none;
   border-radius: 10px;
}

form [type="submit"]:hover {
    background-color: #9c06ce57;
    cursor: pointer;
    transition: .3s;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
    outline: none;
    width: 100%;
}

@media (max-width: 600px) {
    html {
        font-size: 1rem;
    }

    header {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .container-list {
        justify-content: center;
        gap: 1rem;
    }

    main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.4rem;
    }

    form {
        width: 100%;
    }

    input {
        width: 90%;
        max-width: 400px;
        margin: 10px auto 0 auto;
    }

    img {
        display: none;
    }
}
